
:root {
  --1: #a5aca9;
  --2: rgb(250, 243, 221);
  --3: #ad8350ff;
  --4: #3e4c5eff;
  --5: #2c3d55ff;
  --6: rgb(204, 41, 54);
  --7: #9b1d20ff;
  --8: rgb(35, 206, 107);
  --9: rgb(8, 139, 40);
  --10: rgb(168, 70, 160);
  --11: rgb(40, 146, 215);
  --12: rgb(247, 108, 94);
  --13: #F68E5F;
  --14: #F5DD90;
}


@font-face {
  font-family: GothamRegular;
  src: url(./css/fonts/Gotham_Medium.ttf);
}
@font-face {
  font-family: GothamBold;
  src: url(./css/fonts/Gotham_Bold.otf);
}
@font-face {
  font-family: GothamThin;
  src: url(./css/fonts/Gotham_Thin.otf);
}
@font-face {
  font-family: GothamLight;
  src: url(./css/fonts/Gotham_Light.otf);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: var(--2);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: var(--5);
  font-size: 1.1em;
  font-family: GothamRegular; 
}

.controller-wrapper {
  display: flex;
  height: 75%;
}

.btn {
  padding: 10px 25px;
  background: var(--4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--2);
  font-size: 1.2em;
  font-family: GothamBold; 
  outline: none;
}

.btn-error:hover {
  background: rgba(204, 41, 54, 0.2);
  color: var(--6);
}

.btn-success:hover {
  background: rgba(35, 206, 107, 0.15) !important;
  color: var(--8) !important;
}

.btn-success:active {
  font-size: 1.3em !important;
  margin: 0.05em;
}

.btn-blue:hover {
  background: rgba(40, 146, 215, 0.15) !important;
  color: var(--11) !important;
}

.btn-blue-checked {
  background: rgba(40, 146, 215, 0.15) !important;
  color: rgb(70, 176, 245) !important;
}

.btn-orange:hover {
  background: rgba(247, 108, 94, 0.15) !important;
  color: var(--12) !important;
}

.btn-orange-checked {
  background: rgba(247, 108, 94, 0.15) !important;
  color: rgb(277, 138, 124) !important;
}

.btn-purple:hover {
  background: rgba(168, 70, 160, 0.15) !important;
  color: var(--10) !important;
}

.btn-purple-checked {
  background: rgba(168, 70, 160, 0.15) !important;
  color: rgb(200, 100, 190) !important;
}

